.artigo-detail {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: aliceblue;
    align-items: center;
    
  }
  
  .back-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  