.artigo-detail {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: aliceblue;
    align-items: center;
    
  }
  
  .back-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  .historia-fisica {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .historia-fisica h1 {
    color: #2c3e50;
    text-align: center;
  }
  .historia-fisica ul {
    padding-left: 20px;
  }
  .historia-fisica li {
    margin-bottom: 10px;
  }
  